<p id="notice"><%= notice %></p>
<p>
  <b>Criteria1:</b>
  <%= @evaluation.criteria1 %>
</p>

<p>
  <b>Criteria2:</b>
  <%= @evaluation.criteria2 %>
</p>

<p>
  <b>Criteria3:</b>
  <%= @evaluation.criteria3 %>
</p>

<p>
  <b>Criteria4:</b>
  <%= @evaluation.criteria4 %>
</p>

<p>
  <b>Criteria5:</b>
  <%= @evaluation.criteria5 %>
</p>

<p>
  <b>Criteria6:</b>
  <%= @evaluation.criteria6 %>
</p>

<p>
  <b>Criteria7:</b>
  <%= @evaluation.criteria7 %>
</p>

<p>
  <b>Criteria8:</b>
  <%= @evaluation.criteria8 %>
</p>

<p>
  <b>Criteria9:</b>
  <%= @evaluation.criteria9 %>
</p>

<p>
  <b>Criteria10:</b>
  <%= @evaluation.criteria10 %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
