  <div class="spreadsheet">
    
    <div class="spread-head">
      <!-- spreadsheet title -->
      <h1>Academics Sessions</h1>  
      <center><%= link_to(Members, {:controller => '/academics/members', :action => 'index'}) %> <%= link_to(Sessions, {:controller => '/academics/sessions', :action => 'index'}) %></center>
      
      
      <!-- filter field. not needed for now -->
      <input value="filter..." />
    </div>
    
    <table>
      <thead>
          <tr>
            <th>Tutor</th>
            <th>Course</th>
            <th>Major</th>
            <th>Semester</th>
            <th>Timing</th>
            <th>Room</th>
            <th>Notes</th>  
          </tr>
      </thead>
      
      <tbody> 
        <% @sessions.each do |session| %>
        <tr>
          <%= form_for session, :url => {:controller => 'sessions', :action => 'update', :id => session.id} do |f| %>
          <td>
            <p class="cell-data"><%= session.member.name %></p> 
          </td>

          <td>
            <p class="cell-data"><%= session.course.name %></p> 
          </td>

          <td>
            <p class="cell-data"><%= session.course.major %></p> 
          </td>

          <td>
            <p class="cell-data"><%= session.course.semester %></p> 
          </td>

          <td>
            <p class="cell-data"><%= session.timing %></p> 
          </td>

          <td>
            <p class="cell-data"><%= session.request.room %></p> 
          </td>

          <td>
            <p class="cell-data"><%= session.notes %></p>
            <div class="cell-edit"><%= f.text_field(:notes) %></div> 
          </td>
         
          <td class="edit"><div class="edit"><div class="update-row">✎</div>
          <!-- add this if the row can be deleted -->
            <div class="delete-row">✖</div></div>
          </td>
          <%end%> 
        </tr>
        <%end%> 
        
        
        <!-- "Create new data" form here -->
        <tr class="add-row">
           <%= form_for @session=Session.new, :url => {:action => 'create'} do |f| %> 
          <td>
                <%= f.text_field :member %>
            </td>
            
            <td>
                <%= f.text_field :course %>
            </td>
            
            <td>
                
            </td>
            
            <td>
                
            </td>
            
            <td>
                <%= f.text_field :timing %>
            </td>

            <td>
                
            </td>

            <td>
                <%= f.text_field :notes %>
            </td>
      
          <%end%> 
        </tr>
        
      </tbody>
    </table>
    
    <div class="spread-footer">
      <!-- tab, add this if table is editable -->
      <div class="tab edit-spreadsheet">Edit</div>
      <!-- keep buttons if edit is enabled -->
      <div class="btn green add">+</div>
      <div class="btn green save">Save</div>
      <div class="btn red cancel">Cancel</div>
    </div>
  </div>
