<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Meeting minutes 1</th>
    <th>Meeting minutes 2</th>
    <th>Meeting minutes 3</th>
    <th>Room</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.title %></td>
    <td><%= meeting.meeting_minutes1 %></td>
    <td><%= meeting.meeting_minutes2 %></td>
    <td><%= meeting.meeting_minutes3 %></td>
    <td><%= meeting.room %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
