<% @page_title = "Meetings List" %>

<div class="tasks list">
  <h2>Meetings</h2>

  <div><%= pluralize(@meetings.size, 'meetings') %></div>
  
  <div class="spreadsheet">

    <div class="spread-head">
      <!-- spreadsheet title -->
      <h1>Meetings</h1>

      <!-- filter field -->
      <input value="filter..." />
    </div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
<<<<<<< HEAD
          <th>Meeting Minutes 1</th>
          <th>Meeting Minutes 2</th>
          <th>Meeting Minutes 3</th>
=======
          <th>Agenda</th>
          <th>Meeting Content</th>
          <th>Meeting Minutes</th>
>>>>>>> 2203c852d1ebb480b66d3bdb811c1cdae8ff02fc
          <th>Room</th>
          <th>Meeting Date</th>
          <th>Attendees</th>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <%= form_for(meeting, :method => 'PUT') do |f|%>

              <% if(DateTime.now.end_of_day > meeting.meeting_time) %>

                <td>
                  <p class="cell-data">
                    <%= meeting.title %>
                  </p>
                  <div class="cell-edit">
                    <%= meeting.title %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% if(meeting.meeting_minutes1 == "" || meeting.meeting_minutes1 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes1%>
                    <%end%> 
                  </p>
                  <div class="cell-edit">
                    <%= f.text_field :meeting_minutes1 %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% if(meeting.meeting_minutes2 == "" || meeting.meeting_minutes2 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes2%>
                    <%end%>
                  </p>
                  <div class="cell-edit">
                    <%= f.text_field :meeting_minutes2 %>
                  </p>
                </td>

                <td>
                  <p class="cell-data">
                    <% if(meeting.meeting_minutes3 == "" || meeting.meeting_minutes3 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes3%>
                    <%end%>
                  </p>
                  <div class="cell-edit">
                    <%= f.text_field :meeting_minutes3 %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <%= meeting.room %>
                  </p>
                  <div class="cell-edit">
                    <%= meeting.room %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <%= meeting.meeting_time.to_date %>
                  </p>
                  <div class="cell-edit">
                    <%= meeting.meeting_time.to_date %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% meeting.attendees.each do |att| %>
                      <%= att.name + ", " %>
                    <% end %>
                  </p>
                  <div class="cell-edit">
                    <% meeting.attendees.each do |attender| %>
                      <table>
                        <tr>
                          <td>
                            <%= attender.name %></td>
                            <% @case = nil; %>
                            <% meeting.attendance.each do |record|
                              if(record[0] == attender.id)
                                @case = record[1]
                              end
                            end %>
                          <td>
                            <%= if(@case != nil)
                              @case
                            else
                              "Not Entered"
                            end %>
                          </td>
                          <td><%= radio_button_tag 'attendance_'+attender.id, 'Attended' %> Attended </td>
                          <td><%= radio_button_tag 'attendance_'+attender.id, 'Absent' %> Absent </td>
                          <td><%= radio_button_tag 'attendance_'+attender.id, 'Execused' %> Execused </td>
                        </tr>
                      </table>
                    <%end%>
                  </div>
                </td>

              <%else%>

                <td>
                  <p class="cell-data">
                    <%= meeting.title %>
                  </p>
                  <div class="cell-edit">
                    <%= f.text_field :title %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% if(meeting.meeting_minutes1 == "" || meeting.meeting_minutes1 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes1%>
                    <%end%> 
                  </p>
                  <div class="cell-edit">
                    <%= "Meeting's not Passed Yet" %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% if(meeting.meeting_minutes2 == "" || meeting.meeting_minutes2 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes2%>
                    <%end%> 
                  </p>
                  <div class="cell-edit">
                    <%= "Meeting's not Passed Yet" %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% if(meeting.meeting_minutes3 == "" || meeting.meeting_minutes3 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes3%>
                    <%end%> 
                  <p>
                  <div class="cell-edit">
                    <%= "Meeting's not Passed Yet" %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <%= meeting.room %>
                  </p>
                  <div class="cell-edit">
                    <%= f.text_field :room %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <%= meeting.meeting_time.to_date %>
                  </p>
                  <div class="cell-edit">
                    <%= f.text_field :meeting_time,value: meeting.meeting_time.to_date %>
                  </div>
                </td>

                <td>
                  <p class="cell-data">
                    <% meeting.attendees.each do |att| %>
                      <%= att.name + ", " %>
                    <% end %>
                  </p>
                  <div class="cell-edit">
                    <div class="add-member">+
                    <div class="members-list">
                    <%= f.collection_select :attendee_ids, Member.order_by(:name.asc), :id, :name,{},{multiple: true} %>
                    </div> 
                    </div>
                  </div>
                </td>
              <%end%>
            <%end%>
            <td class="edit">
              <div class="edit">
                <div class="update-row">✎</div>
                <div class="delete-row"><%= link_to '✖', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </td>

          </tr>

          <tr><td colspan="7">
  				<div class="agenda"><div class="wire"></div>
						<div class="agenda-content">
							<ul>
								<li class="active" data-id="#agenda-data">Agenda</li>
								<li data-id="#meeting-data">Meeting Content</li>
								<li data-id="#minutes-data">Meeting Minutes</li>
							</ul>
							<div id="agenda-data" class="data">
  						 <% if(meeting.meeting_minutes1 == "" || meeting.meeting_minutes1 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes1%>
               <%end%> 
							</div>
							<div id="meeting-data" class="data">
  						 <% if(meeting.meeting_minutes2 == "" || meeting.meeting_minutes2 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes2%>
               <%end%> 
							</div>
							<div id="minutes-data" class="data">
  						 <% if(meeting.meeting_minutes3 == "" || meeting.meeting_minutes3 == nil) %>
                    <%= "Not Entered" %>
                    <%else%>
                    <%=meeting.meeting_minutes3%>
               <%end%> 
							</div>
						</div>
					</div>
				</td></tr>

        <%end%>
        
        <!-- "Create new data" form here -->
        <tr class="add-row">
          <% @meeting=Meeting.new%>
           <%= form_for @meeting, :url => {:action => 'create'}, :method => 'POST' do |f| %>
            <td><%= f.text_field :title %></td>
            <td>Meeting Minutes1</td>
            <td>Meeting Minutes2</td>
            <td>Meeting Minutes3</td>
            <td>Room</td>
            <td><%= f.text_field :meeting_time %></td>
            <td><%= f.collection_select :attendee_ids, Member.order_by(:name.asc), :id, :name,{},{multiple: true} %></td>
          <%end%>
        </tr>
      </tbody>
    </table>

    <div class="spread-footer">
      <!-- tab, add this if table is editable -->
      <div class="tab edit-spreadsheet">Edit</div>
      <!-- keep buttons if edit is enabled -->
      <div class="btn green add">+</div>
      <div class="btn green save">Save</div>
      <div class="btn red cancel">Cancel</div>
    </div>
  </div>
