<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Meeting Minutes 1</th>
    <th>Meeting Minutes 2</th>
    <th>Meeting Minutes 3</th>
    <th>Room</th>
    <th>Meeting Date</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.title %></td>
    <td>
      <% if(meeting.meeting_minutes1 == "" || meeting.meeting_minutes1 == nil) %>
        <%= "Not Entered" %>
      <%else%>
        <%=meeting.meeting_minutes1%>
      <%end%> 
    </td>

    <td>
      <% if(meeting.meeting_minutes2 == "" || meeting.meeting_minutes1 == nil) %>
        <%= "Not Entered" %>
      <%else%>
        <%=meeting.meeting_minutes2%>
      <%end%> 
    </td>

    <td>
      <% if(meeting.meeting_minutes2 == "" || meeting.meeting_minutes1 == nil) %>
        <%= "Not Entered" %>
      <%else%>
        <%=meeting.meeting_minutes2%>
      <%end%> 
    </td> 
    <td><%= meeting.room %></td>
    <td><%= meeting.meeting_time.to_date %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
