<% @page_title = "Kids List" %>

<div class="kid list">
  <h2>Kids</h2>
  
  <%= link_to("Add New Kid to Care Database", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@kids.size, 'kid') %> found</div>
  
  <table class="listing" summary="Kid list">
    <tr class="header">
      <th>Kid</th>
      <th>Age</th>
      <th>Address</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
    <% @kids.each do |kid| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= kid.name %></td>
      <td class="center"><%= kid.age %></td>
      <td class="center"><%= kid.address %></td>
      <td class="center"><%= kid.notes %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => kid.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => kid.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => kid.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
