<% @page_title = "Tasks List" %>

<div class="tasks list">
  <h2>Assigned Tasks</h2>
  
  <%= link_to("Add New Task", {:controller => 'tasks', :action => 'new', :id => @member.id }) %>
<%= link_to("Back to Member", {:controller => 'members', :action => 'show', :id=> @member.id}) %>

  <div><%= pluralize(@tasks.size, 'task') %> found</div>
  
  <table class="listing" summary="Tasks list">
    <tr class="header">
      <th>Descritpion</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Requested Deadline</th>
      <th>Comment</th>
      <th>Excuse</th>
      <th>Actions</th>
    </tr>
    <% @tasks.each do |task| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= task.description %></td>
      <td class="center"><%= task.status %></td>
      <td class="center"><%= task.deadline %></td>
      <td class="center"><%= task.requested_deadline %></td>
      <td class="center"><%= task.comment %></td>
      <td class="center"><%= task.excuse %></td>
      <td class="actions">
        <% if (task.status == "Not_done" || task.status == "Re_opened") %>
          <%= link_to("Done", {:action => 'Done', :id => @member.id, :task_id => task.id}) %>
        <% elsif (task.status == "Done" && current_member == task.created_by) %>
          <%= link_to("Re_open", {:action => 'Re_open', :id => @member.id, :task_id => task.id}) %>
        <%end%>
        <% if (current_member == task.assigned_to && task.request == false) %>
        <%= link_to("Extend Deadline", {:action => 'edit', :member_id => @member.id, :id => task.id}) %>
        <% elsif (current_member == task.created_by && task.request == true) %>
        <%= link_to("Approve", {:action => 'approve', :member_id => @member.id, :id => task.id}) %>
        <%= link_to("Disapprove", {:action => 'disapprove', :member_id => @member.id, :id => task.id}) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
