<head>
        <title>Bdaya | Profile</title>
        <style type="text/css" media="screen">
            .redodiv{
                display: none;
                position: absolute;
                top: 16px;
                left: 17px;
                z-index:1;
                padding: 10px;
                background: #e2eaee;
                color: #95b2be;
                -moz-box-shadow: 1px 1px 0px 0px #aeccda;
                -webkit-box-shadow: 1px 1px 0px 0px #aeccda;
                box-shadow: 1px 1px 0px 0px #aeccda;
            }
            .page{
                position:relative;
            }
            .redo{
                width: 17px;
                float: right;
            }
        </style>
        <script type="text/javascript" charset="utf-8" src="jquery-1.9.1.js"></script>
        <script>
            $(document).ready(function(){
                $(".redo").click(function(){
                    $(this).next().toggle();
                });
            });
        </script>
    </head>
<% @page_title = "Tasks List" %>

<div class="tasks list">
  <div class="spreadsheet">
    
    <div class="spread-head">
      <!-- spreadsheet title -->
      <h1>Assigned Tasks</h1>
      
      <!-- tabs, if needed -->
      <div class="tab active">Undone</div>
      <div class="tab">Done</div>
      
      <!-- filter field -->
      <div><%= pluralize(@tasks.size, 'task') %></div>
    </div>
    
    <table>
      <thead>
          <tr>
            <th>Descritpion</th>
              <th>Status</th>
              <th>Deadline</th>
              <th>Actions</th>
          </tr>
      </thead>
      
      <tbody>
        <% @tasks.each do |task| %>
        <tr>
          <td>
            <p class="cell-data"><%= task.description %></p>
            <div class="cell-edit"><%= task.description %></div>
          </td>
          <td>
            <%= form_for task, :url => {:controller => 'tasks', :action => 'Re_open', :task_id => task.id, :id => @member.id} do |f| %>
            <div class="page">
              <div class="redo"><img src="/images/capture.JPG"></div>
                <div class="redodiv">
                  Comment: 
                  <textarea></textarea>
                  <input type="submit" value="Reopen"></input>
                </div>
              </div>
              <p class="cell-data" width="auto"><%= task.status %></p>
                <%end%>
          </td>
          <td>
            <%= form_for task, :url => {:controller => 'tasks', :action => 'extend_deadline', :task_id => task.id, :id => @member.id } do |f| %>
              <div class="page">
              <div class="redo"><img src="/images/capture.JPG"></div>
                <div class="redodiv">
                  Requested Deadline:
                  <%= f.text_field(:requested_deadline) %>                  
                  <br/>
                  Excuse:
                  <br/>
                  <textarea></textarea>
                  <input type="submit" value="Extend Deadline"></input>
                </div>
              </div>
              <p class="cell-data" width="auto"><%= task.deadline %></p>
                <%end%>
          </td>
          <td>
            <%= link_to("Approve", {:controller => 'tasks', :action => 'approve', :id => @member.id, :task_id => task.id}) %>
            <%= link_to("Disapprove", {:controller => 'tasks', :action => 'disapprove', :id => @member.id, :task_id => task.id}) %>
            <%= link_to("Done", {:controller => 'tasks', :action => 'Done', :id => @member.id, :task_id => task.id}) %>
          </td>
          <!-- add this if row is editable -->
          <td class="edit"><div class="edit"><div class="update-row">✎</div></div>
          </td>
        
        </tr>
        <%end%>
        
        
        <!-- "Create new data" form here -->
        <tr class="add-row">
           <%= form_for @task=Task.new, :url => {:action => 'create', :member_id => @member.id} do |f| %>
          <td><%= f.text_field(:description)%> </td>
          <td></td>
          <td><%= f.text_field(:deadline) %></td>
          <td></td>
          <td></td>
          <td></td>
          <%end%>
        </tr>
        
      </tbody>
    </table>
    
    <div class="spread-footer">
      <!-- tab, add this if table is editable -->
      <div class="tab edit-spreadsheet">Edit</div>
      <!-- keep buttons if edit is enabled -->
      <div class="btn green add">+</div>
      <div class="btn green save">Save</div>
      <div class="btn red cancel">Cancel</div>
    </div>
  </div>