  <div class="spreadsheet">
    
    <div class="spread-head">
      <!-- spreadsheet title -->
      <h1>Academics Members</h1>  
      
      
      
      <!-- filter field. not needed for now -->
      <input value="filter..." />
    </div>
    
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Major</th>
            <th>E-Mail</th>
            <th>Semester</th>
            <th>Courses Teached</th> 
          </tr>
      </thead>
      
      <tbody> 
        <% @members.each do |member| %>
        <tr>
          <%= form_for member, :url => {:controller => 'members', :action => 'update', :id => member.id} do |f| %>
          <td>
            <p class="cell-data"><%= member.name %></p> 
          </td>

          <td>
            <p class="cell-data"><%= member.major %></p> 
          </td>

          <td>
            <p class="cell-data"><%= member.email %></p> 
          </td>

          <td>
            <p class="cell-data"><%= member.semester %></p> 
          </td>

          <td>
            <p class="cell-data">
              <%member.courses.each do |course|%>
              <%= course.name %> </br>  
              <%end%></p> 
          </td>
          
         
          <%end%> 
        </tr>
        <%end%> 
        
        
        
        
      </tbody>
    </table>
    
    <div class="spread-footer">
      
    </div>
  </div>
