<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<%= form_for @event do |f| %> 
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: @event.title %>
  </div>
  <div class="field">
    <%= f.label :event_manager %>
    <%= f.collection_select :event_manager_id, @members, :id, :name, {}, { multiple: false } %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: @event.description %>
  </div>
  <div class="field">
    <%= f.label :general_info %>
    <%= f.text_field :general_info, placeholder: @event.general_info %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date,class:"fn bday",id:"datepicker", placeholder: @event.date %>
  </div>
  <script type="text/javascript">
    $(function() {
      $( "#datepicker" ).datepicker();
    });
  </script>
  <%= f.submit "Update Header" %>
<% end %>