<%= form_for @event do |f| %> 
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div style="background-color:#e5e5e5; padding:10px">
  <h1 style="color:#7cb3ca">
    <%= best_in_place @event, :title %>
  </h1>

  <div style="color:#525252">
    <h4 style="border-bottom: 1px solid"> Date </h4>
    <%= best_in_place @event, :date, :type => :date%> to <%= @event.event_days.last.date.to_date %>
    <h4 style="border-bottom: 1px solid"> Duration </h4>
    <%= best_in_place @event, :duration %>
    
    <h4 style="border-bottom: 1px solid"> Project Manager </h4>
    <%= best_in_place @event, :event_manager_id, type: :select, collection: @members, :nil => "Choose Manager" %>

    <h4 style="border-bottom: 1px solid"> Description </h4>
    <%= best_in_place @event, :description %>

    <h4 style="border-bottom: 1px solid"> General Info </h4>
    <%= best_in_place @event, :general_info %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $.datepicker.setDefaults({
      dateFormat:"yy-mm-dd"
    });
  });
</script>

<%= form_for @event do |f| %> 
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="design">
    <h3>Design Team</h3>
    <div class="logo">
      <b>Logo</b>
      <%= f.fields_for :logo do |builder| %>
        <%= builder.file_field :image %>
      <% end %>
    </div>
    <div class="poster">
      <b>Posters</b>
      <%= f.fields_for :posters do |builder| %>
        <%= builder.file_field :image %>
      <% end %>
    </div>
    <div class="booth">
      <b>Booth</b>
      <%= f.fields_for :booth do |builder| %>
        <%= builder.file_field :image %>
      <% end %></div>
  </div>
<% end %>
