<spreadsheet
  options='{
    "title":  "Hello World",
    "content":  ["#data1"],
    "tabs":   [
            {"name":"tab1", "content":"#data1"}
          ]
  }'
  id=   "spread1"
></spreadsheet>


<table id="data1">
  <thead>
    <tr>
      <th>Bdaya Member</th>
          <th>Case Name</th>
          <th>Description</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Case Number</th>
          <th>People Responsible</th>
          <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @geneh_cases.each do |geneh| %>
    <tr>
      <td><%= geneh.creator.name %></td>
      <td><%= geneh.case_name %></td>
      <td><%= geneh.description %></td>
      <td><%= geneh.phone %></td>
      <td><%= geneh.address %></td>
      <td><%= geneh.case_number %></td>
      <td><%= geneh.case_number %></td>
      <td><%= geneh.notes %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<div class="add-form">
  <%= link_to 'new', new_geneh_geneh_case_path, id: "asd", remote: true %>
</div>