<div id="page">
    <div class="spreadsheet">
        <div class="spread-head">
            <!-- spreadsheet title -->
            <h1>Members</h1>

            <!-- tabs, if needed -->
            <div class="tab active" data-id="link8">IT</div>
            <div class="tab" data-id="link7">HR</div>
            <div class="tab" data-id="link6">FR</div>
            <div class="tab" data-id="link5">PR</div>
            <div class="tab" data-id="link4">Academics</div>
            <div class="tab" data-id="link3">Geneh</div>
            <div class="tab" data-id="link2">Care</div>
            <div class="tab" data-id="link1">Yes</div>

        </div>

        <table class="link-data" id="link1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @yes != nil %>
                <% @yes.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>

        <table class="link-data" id="link2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @care != nil %>
                <% @care.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table> 

        <table class="link-data" id="link3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @geneh != nil %>
                <% @geneh.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>

        <table class="link-data" id="link4">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @academics != nil %>
                <% @academics.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>

        <table class="link-data" id="link5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @FR != nil %>
                <% @FR.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>

        <table class="link-data" id="link6">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @PR != nil %>
                <% @PR.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>

        <table class="link-data" id="link7">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @HR != nil %>
                <% @HR.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>

        <table class="link-data" id="link8">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Faculty</th>
                    <th>Mobile</th>
                    <th>t-shirt size</th>
                </tr>
            </thead>

            <tbody>
                <% if @IT != nil %>
                <% @IT.each do |t| %>
                <tr>
                    <td><%= t.name %></td>
                    <td><%= t.email %></td>
                    <td><%= t.major %></td>
                    <td><%= t.mobile %></td>
                    <td><%= t.t_shirt %></td>
                    <!-- add this if row is editable -->
                    <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>
        <div class="spread-footer">
            <!-- tab, add this if table is editable -->
            <div class="tab edit-spreadsheet">Edit</div>
            <!-- keep buttons if edit is enabled -->
            <div class="btn green save">Save</div>
            <div class="btn red cancel">Cancel</div>
        </div>
    </div>

</div>