<!DOCTYPE html>
<html>
    <head>
        <title>Bdaya | Profile</title>
        <style type="text/css" media="screen">
            h1{
                color: #444444;
                padding-bottom: 1px;
                margin-top: 3px;
                margin-bottom: 1px;
            }
            h2{
                color: #444444;
                font-weight: 300;
                padding-top:1px;
                margin-top: 1px;
            }
            h3{
                font-family: "Arial";
                font-weight: 700;
                padding-left: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
                color: #77AFC6;
            }
            div #pic{
                background-color: #EEEEEE;
                font-family: "Arial";
                color: #77AFC6;
                border-top: 1px solid #DCDCDC;
                border-left: 1px solid #DCDCDC;
                border-bottom: 1px solid #DCDCDC;
                height: 200px;
                width: 200px;
                float: left;
            }
            div #info{
                background-color: #EEEEEE;
                font-family: "Arial";
                color: #77AFC6;
                border-top: 1px solid #DCDCDC;
                border-right: 1px solid #DCDCDC;
                border-bottom: 1px solid #DCDCDC;
                margin-left: 200px;
                padding-left: 10px;
                height: 200px;
            }
            div #list1{
                float: left;
                width: 50%;
            }
            div #list2{
                margin-left: 50%; 
                width: 50%;
            }
            div #heading{
                background-color: #EEEEEE;
                font-family: "Arial";
                font-weight: 700;
                font-size: 16pt;
                color: #77AFC6;
                border-top: 1px solid #DCDCDC;
                border-left: 1px solid #DCDCDC;
                border-right: 1px solid #DCDCDC;
                height: 50px;
                line-height: 50px;
                vertical-align: middle;
            }
            .content{
                border-bottom: 1px solid #DCDCDC;
                border-left: 1px solid #DCDCDC;
                border-right: 1px solid #DCDCDC;
                height: 250px;
                text-align: center;
            }
            .tabbedmenu ul{
                margin:0;
                margin-left: 0px; /*margin between first menu item and left browser edge*/
                padding: 0;
                list-style: none;
                height: 40px;
            }

            .tabbedmenu li{
                display: inline;
                margin: 0 2px 0 0;
                padding: 0;
                height: 40px;
            }

            .tabbedmenu a{
                float: left;
                display: block;
                font: bold 16pt Arial;
                color: #77AFC6;
                text-decoration: none;
                text-align: center;
                margin: 0 0 0 0; /*Margin between each menu item*/
                padding: 5px 10px;
                width: auto;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
                background-color: #EEEEEE; /*Brown color theme*/ 
                cursor: pointer;
            }

            .tabbedmenu a:hover{
                background-color: #F7F6F6; /*Brown color theme*/ 
                color: #77AFC6;
            }

            .tabbedmenu a.selected{ /*currently selected tab*/
                background-color: white; /*Brown color theme*/ 
                color: #77AFC6;
            }
        </style>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="spreadsheet.css" type="text/css" charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="jquery-1.9.1.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="spreadsheet.js"></script>
        <script type="text/javascript" charset="utf-8" src="jquery-1.9.1.js"></script>
        <script>
            $(document).ready(function(){
                $(".link-data").hide();
                var ld = $(".active").attr("data-id");
                $("#"+ld).show();

                $(".tab").click(function () {
                    $(".link-data").hide();
                    $(".tab").removeClass("active");
                    $(this).addClass("active");
                    $("#"+$(this).attr("data-id")).show();
                });
            });
        </script>
    </head>
    <body>
        <div id="page">
            <div class="spreadsheet">
                <div class="spread-head">
                    <!-- spreadsheet title -->
                    <h1>Members</h1>

                    <!-- tabs, if needed -->
                    <div class="tab active" data-id="link8">IT</div>
                    <div class="tab" data-id="link7">HR</div>
                    <div class="tab" data-id="link6">FR</div>
                    <div class="tab" data-id="link5">PR</div>
                    <div class="tab" data-id="link4">Academics</div>
                    <div class="tab" data-id="link3">Geneh</div>
                    <div class="tab" data-id="link2">Care</div>
                    <div class="tab" data-id="link1">Yes</div>

                </div>

                <table class="link-data" id="link1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @yes != nil %>
                        <% @yes.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>

                <table class="link-data" id="link2">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @care != nil %>
                        <% @care.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table> 

                <table class="link-data" id="link3">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @geneh != nil %>
                        <% @geneh.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>

                <table class="link-data" id="link4">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @academics != nil %>
                        <% @academics.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>

                <table class="link-data" id="link5">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @FR != nil %>
                        <% @FR.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>

                <table class="link-data" id="link6">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @PR != nil %>
                        <% @PR.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>

                <table class="link-data" id="link7">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @HR != nil %>
                        <% @HR.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>

                <table class="link-data" id="link8">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Faculty</th>
                            <th>Mobile</th>
                            <th>t-shirt size</th>
                        </tr>
                    </thead>

                    <tbody>
                    <% if @IT != nil %>
                        <% @IT.each do |t| %>
                        <tr>
                            <td><%= t.name %></td>
                            <td><%= t.email %></td>
                            <td><%= t.major %></td>
                            <td><%= t.mobile %></td>
                            <td><%= t.t_shirt %></td>
                            <!-- add this if row is editable -->
                            <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
                            </td>
                        </tr>
                        <%end%>
                    <%end%>
                    </tbody>
                </table>
                <div class="spread-footer">
                    <!-- tab, add this if table is editable -->
                    <div class="tab edit-spreadsheet">Edit</div>
                    <!-- keep buttons if edit is enabled -->
                    <div class="btn green save">Save</div>
                    <div class="btn red cancel">Cancel</div>
                </div>
            </div>

        </div>
    </body>
</html>
