<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <% @page_title = "Members List" %>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'javascripts/spreadsheet' %>
  <%= stylesheet_link_tag 'stylesheets/spreadsheet', :media => 'screen' %>
</head>

<body>
  
  <div class="spreadsheet">

    <center><h2>FR</h2></center>
    <center><%= link_to(Members, {:controller => '/fr/members', :action => 'index'}) %> <%= link_to(Sponsers, {:controller => '/fr/sponsers', :action => 'index'}) %></center>
    <h3>Head: <% if (@head!=nil) %> <%= link_to(@head.name, {:controller => '/members', :action => 'show', :id => @head.id, :c => 'fr/members'}) %> <%end%> </h3>
    <h3>Vices: <% @vices.each do |vice| %>
      <%= link_to(vice.name, {:controller => '/members', :action => 'show', :id => vice.id, :c => 'fr/members'}) %>
      <%end%></h3> 
    
    <div class="spread-head">
      <!-- spreadsheet title -->

      <h1>Members</h1>
      <div style="padding-left:7em"><%= pluralize(@members.size, 'member') %> found</div>
    </div>
    
    <table>
      <thead>
          <tr>
            <th>Member</th>
            <th>Email</th>
            <th>Semester</th>
            <th>Major</th>
            <th>Role</th>
          </tr>
      </thead>
      
      <tbody>
        <% @members.each do |member| %>
        <tr>
          <%= form_for(member, :url => {:action => 'update', :id => member.id}, :method => 'PUT') do |f| %>
          <td>
            <p class="cell-data"><%= link_to(member.name, {:controller => '/members', :action => 'show', :id => member.id, :c => 'fr/members'}) %></p>
            <div class="cell-edit"><%= f.text_field(:name) %></div>
          </td>
          <td>
            <p class="cell-data"><%= member.email %></p>
            <div class="cell-edit"><%= f.text_field(:email) %></div>
          </td>
          <td>
            <p class="cell-data"><%= member.semester %></p>
            <div class="cell-edit"><%= f.text_field(:semester) %></div>
          </td>
          <td>
            <p class="cell-data"><%= member.major %></p>
            <div class="cell-edit"><%= f.text_field(:major) %></div>
          </td>
          <td>
            <p class="cell-data"><%= member.role %></p>
            <div class="cell-edit"><%= f.select(:role, ['Member', 'Head', 'Vice Head']) %></div>
          </td>
          <!-- add this if row is editable -->
          <td class="edit"><div class="edit">
            <% if(current_member.email==member.email||(current_member.committee.name=='FR' && (current_member.role=='Head'||current_member.role=='Vice Head'))) %>
                <div class="update-row">✎</div>
              <% end %>
              <% if(current_member.email!=member.email&&(current_member.committee.name=='FR' && (current_member.role=='Head'||current_member.role=='Vice Head')))%>
                <div class="delete-row">✖</div>
              <% end %>
          </div></td>
          <% end %>
        </tr>
        <% end %>
        
      </tbody>
    </table>
    
    <div class="spread-footer">
      <% if(current_member.committee.name=='FR' && (current_member.role=='Head'||current_member.role=='Vice Head')) %>
      <!-- tab, add this if table is editable -->
      <div class="tab edit-spreadsheet">Edit</div>
      <!-- keep buttons if edit is enabled -->
      <div class="btn green save">Save</div>
      <div class="btn red cancel">Cancel</div>
    </div>
    <% end %>
  </div>
  
</body>