<%= render(:partial => 'shared/error_messages', :locals => {:object => @kid}) %>

<table summary="Kid form fields">
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:age) %></th>
    <td><%= f.text_field(:age) %></td>
  </tr>
  <tr>
    <th><%= f.label(:address) %></th>
    <td><%= f.text_field(:address) %></td>
  </tr>
  <tr>
    <th><%= f.label(:strengths) %></th>
    <td><%= f.text_area(:strengths, :size => '50x5') %></td>
  </tr>
  <tr>
    <th><%= f.label(:weaknesses) %></th>
    <td><%= f.text_area(:weaknesses, :size => '50x5') %></td>
  </tr>
  <tr>
    <th><%= f.label(:notes) %></th>
    <td><%= f.text_area(:notes, :size => '50x5') %></td>
  </tr>
</table>