<% @page_title = "Show Kid: #{@kid.name}" %>

<%= link_to("<< Back to List", {:action => 'index'}) %>

<head>
  <%= stylesheet_link_tag 'stylesheets/ProfileStyles', :media => 'screen' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="spreadsheet.css" type="text/css" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="jquery-1.9.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="jquery-1.9.1.js"></script>
  <script type="text/javascript" charset="utf-8" src="spreadsheet.js"></script>
</head>

<body>
 <div id="page">
  <div id="pic">
   <img src="/images/user_icon_200.png">
</div>
<div id="info">

 <h1><%= @kid.name %></h1>
 <h2></h2>
 <div id="list1">
   <b>Age: </b><%= @kid.age %><br><br>
   <b>Address: </b><%= @kid.address %><br><br>
   <b>Notes: </b><%= @kid.notes %>
</div>
<div id="list2">
  <b>Strengths: </b><%= @kid.strengths %><br><br>
  <b>Weaknesses: </b><%= @kid.weaknesses %><br><br>
  <b>Joined Care: </b><%= @kid.created_at %><br><br>
 </div>
</div>

<div class="spreadsheet">

  <div class="spread-head">
    <!-- spreadsheet title -->
    <h1>Performance</h1>
  </div>

  <table>
    <thead>
      <tr>
        <th>Friday</th>
        <% Course.where(type:"Care").each do |c| %>
          <th><%= c.name%></th>
        <%end%>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @fridays.each do |friday| %>
        <tr>
          <td><%= friday.date %></td>
          <%= form_for :performance,  :url => {:action => 'add_performance' , :kid => @kid.id, :friday => friday.date.to_s}, :method => 'POST' do |f| %>
            <% friday.sessions.each do |session| %>
              <td>
                <% if @kid.performance[friday.date.to_s][session.course.name].present? %>
                  <%= @kid.performance[friday.date.to_s][session.course.name] %>
                <% else %>
                  0
                <%end%>
                <%= f.select "#{session.course.name}" , 0..10 %>
              </td>
            <% end %>
              <td><%= f.submit :update %></td>

          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>

  <div class="spread-footer">
    <!-- tab, add this if table is editable -->
    <div class="tab edit-spreadsheet">Edit</div>
    <!-- keep buttons if edit is enabled -->
    <div class="btn green add">+</div>
    <div class="btn green save">Save</div>
    <div class="btn red cancel">Cancel</div>
  </div>
</div>

</body>