<% @page_title = "Show Member: #{@member.name}" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<%= link_to("View Tasks", {:controller => 'tasks', :action => 'index', :id => @member.id}) %>

<!-- <<<<<<< HEAD -->
<!DOCTYPE html>
<html>
<head>
 h1{
 <%= stylesheet_link_tag 'stylesheets/ProfileStyles', :media => 'screen' %>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="spreadsheet.css" type="text/css" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="jquery-1.9.1.js"></script>
<script type="text/javascript" charset="utf-8" src="spreadsheet.js"></script>
<script>
$(document).ready(function(){
   $("#Meetings").hide();
  $("#Performance").hide();
 $("#t").click(function(){
  $("#Meetings").hide();
  $("#Performance").hide();
  $("#Tasks").show();
});
 $("#m").click(function(){
  $("#Meetings").show();
  $("#Performance").hide();
  $("#Tasks").hide();
});
  $("#p").click(function(){
  $("#Meetings").hide();
  $("#Performance").show();
  $("#Tasks").hide();
});
});
</script>
</head>
<body>
 <div id="page">
  <div id="pic">
   <img src="/images/user_icon_200.png">
</div>
<div id="info">

 <h1><%= @member.name %></h1>
 <h2></h2>
 <div id="list1">
   <b>Email: </b><%= @member.email %><br><br>
   <b>Major: </b><%= @member.major %><br><br>
   <b>Semester: </b><%= @member.semester %>
</div>
<div id="list2">
  <b>Committee: </b><%= @member.committee.name %><br><br>
   <b>Member since: </b><%= @member.created_at %><br><br>
 </div>
</div>
<br>

<div id="heading" class="tabbedmenu">
   <ul>
    <li><a id="t">Tasks</a></li>
    <li><a id="m">Meetings</a></li>
    <li><a id="p">Performance</a></li></ul>
 </div>
 <div id="Tasks" class="content">
   <div class="spreadsheet">
      
      <div class="spread-head">
         <!-- spreadsheet title -->
         <h1>Spreadsheet</h1>
         
         <!-- tabs, if needed -->
         <div class="tab active">link1</div>
         <div class="tab">link2</div>
         
         <!-- filter field -->
         <input value="filter..." />
      </div>
      
      <table>
         <thead>
             <tr>
               <th>Month</th>
               <th>Savings</th>
              <th>Month</th>
              <th>Savings</th>
             </tr>
         </thead>
         
         <tbody>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <!-- add this if row is editable -->
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
               </td>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>           
            </tr>
         </tbody>
      </table>
      
      <div class="spread-footer">
         <!-- tab, add this if table is editable -->
         <div class="tab edit-spreadsheet">Edit</div>
         <!-- keep buttons if edit is enabled -->
         <div class="btn green save">Save</div>
         <div class="btn red cancel">Cancel</div>
      </div>
   </div>
 </div>
 <div id="Meetings" class="content">
   <div class="spreadsheet">
      
      <div class="spread-head">
         <!-- spreadsheet title -->
         <h1>Spreadsheet</h1>
         
         <!-- tabs, if needed -->
         <div class="tab active">link1</div>
         <div class="tab">link2</div>
         
         <!-- filter field -->
         <input value="filter..." />
      </div>
      
      <table>
         <thead>
             <tr>
               <th>Month</th>
               <th>Savings</th>
              <th>Month</th>
              <th>Savings</th>
             </tr>
         </thead>
         
         <tbody>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <!-- add this if row is editable -->
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
               </td>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>           
            </tr>
         </tbody>
      </table>
      
      <div class="spread-footer">
         <!-- tab, add this if table is editable -->
         <div class="tab edit-spreadsheet">Edit</div>
         <!-- keep buttons if edit is enabled -->
         <div class="btn green save">Save</div>
         <div class="btn red cancel">Cancel</div>
      </div>
   </div>
 </div>
 <div id="Performance"  class="content">
 <img src="http://static.bdo.uk.com/assets/images/2011/03/India_Talk_Shop_Graphs.JPG">
</div>


  <!-- <div id="heading">Tasks</div>
  <div id="content"></div>
  <br>
  <div id="heading">Meetings</div>
  <div id="content"></div>
  <br>
  <div id="heading">Performance</div>
  <div id="content"><img src="http://static.bdo.uk.com/assets/images/2011/03/India_Talk_Shop_Graphs.JPG"></div> -->
  
<!-- ======= -->

</body>
</html>
