<!DOCTYPE html>
<html>
<head>
  <div id="member_status">
    <% if member_signed_in? %>
      Signed in as <%= current_member.email %>. Not you? <br>
      <%= current_member.notifications.size %><br>
      <%= link_to 'logout', destroy_member_session_path, :method => :get %>
    <% else %>
      <%= link_to 'login', new_member_session_path, :method => :get %>
    <% end %>
  </div>
  <title>BdayaAdmin</title>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topbar">
    <div id="topbar-content">
      <div id="user-info">
        <div id="vertical-bar"></div>
        
        <div id="info">
          <div id="pp">
            <img id="pp-glow" src="/images/pp-glow.png">
          </div>
          <div id="badges">
            <img src="/badges/star.png">
            <img src="/badges/diamond.png">
            <img src="/badges/redbadge.png">
            <img src="/badges/bluebadge.png">
          </div>
          <div class="name fname">Gasser</div>
          <div class="name">Akila</div>
        </div>
      </div>
    </div>
    <div id="topbar-shadow"></div>
  </div>
  <div id="center">
    <div id="leftbar">
      <div id="leftbar-shadow"></div>
      <div id="leftbar-content">
        <img src="/images/logo.png" id="logo">
        <div id="home-icon" class="leftbar-icon"></div>
        <div id="icons-seperate"></div>
        <div id="committee-icon" class="leftbar-icon"></div>
        <div id="icons-seperate"></div>
        <div id="calendar-icon" class="leftbar-icon"></div>
        <div id="icons-seperate"></div>
        <div id="edit-icon" class="leftbar-icon"></div>
      </div>
    </div>
    <div id="rightbar">
      <div id="rightbar-shadow"></div>
      <div id="rightbar-content"></div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>


</body>
</html>
