<head>
  <title>BdayaAdmin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topbar">
    <div id="topbar-content">
      <div id="user-info">
        <div id="vertical-bar"></div>
        
        <% if(current_member != nil) %>
        <div id="info">
          <div id="pp">
            <img id="pp-glow" src="/images/pp-glow.png">
          </div>
          <div id="badges">
            <img src="/badges/star.png">
            <img src="/badges/diamond.png">
            <img src="/badges/redbadge.png">
            <img src="/badges/bluebadge.png">
          </div>
            <div class="name fname"><%= current_member.name %></div>
            <div class="name"><%= current_member.email %></div>
        </div>
        <% end %>
      </div>
    </div>
    <div id="topbar-shadow"></div>
  </div>
  <div id="center">
    <div id="leftbar">
      <div id="leftbar-shadow"></div>
      <div id="leftbar-content">
        <img src="/images/logo.png" id="logo">
        <div id="home-icon" class="leftbar-icon"></div>
        <div id="icons-seperate"></div>
        <div id="committee-icon" class="leftbar-icon"></div>
        <div id="icons-seperate"></div>
        <div id="calendar-icon" class="leftbar-icon"></div>
        <div id="icons-seperate"></div>
        <div id="edit-icon" class="leftbar-icon"></div>
      </div>
    </div>
    <div id="rightbar">
      <div id="rightbar-shadow"></div>
      <div id="rightbar-content">
        <!-- adding notifications -->
        <!-- the only thing missing howa after en notification is seen there is a method we should call t.set_seen to change seen to true -->
        <% if(current_member != nil) %>
          <% @all = current_member.notifications %>
          <% if @all != nil %>
            <% @all.each do |t| %>
             <%if t.seen == false %> <!-- check notification is UNSEEN --> 
               <% if t.type == 1 %>  <!-- check if type is REQUEST -->
                  <%= t.desc %>
                <% elsif t.type == 2 %> <!-- check if type is ACCEPTANCE -->
                  <%= t.desc %>
                <% elsif t.type == 3 %> <!-- check if type is DECLINING -->
                  <%= t.desc %>
                <% elsif t.type == 4 %> <!-- check if type is REMINDER -->
                  <%= t.desc %>
                <% else %> <!-- check if type is OTHER -->
                  <%= t.desc %>
                <% end %>
              <% else %> <!-- notification is SEEN before -->
                <% if t.type == 1 %>  <!-- check if type is REQUEST -->
                  <%= t.desc %>
                <% elsif t.type == 2 %> <!-- check if type is ACCEPTANCE -->
                  <%= t.desc %>
                <% elsif t.type == 3 %> <!-- check if type is DECLINING -->
                  <%= t.desc %>
                <% elsif t.type == 4 %> <!-- check if type is REMINDER -->
                  <%= t.desc %>
                <% else %> <!-- check if type is OTHER -->
                  <%= t.desc %>
                <% end %>
              <% end %>
            <% end %>  
          <% end %>
        <% end %>
        <!-- finished adding notifications -->
      </div>
    </div>

    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id="member_status">
    <% if member_signed_in? %>
      Signed in as <%= current_member.email %>. Not you? <br>
      <%= current_member.notifications.size %><br>
      <%= link_to 'logout', destroy_member_session_path, :method => :get %>
    <% else %>
      <%= link_to 'login', new_member_session_path, :method => :get %>
    <% end %>
    </div>
      <%= yield %>
    </div>
  </div>

</body>