<!DOCTYPE html>
<html>
<head>
  <div id="member_status">
    <% if member_signed_in? %>
      Signed in as <%= current_member.email %>. Not you?
      <%= link_to 'logout', destroy_member_session_path, :method => :get %>
    <% else %>
      <%= link_to 'login', new_member_session_path, :method => :get %>
    <% end %>
  </div>
  <title>BdayaAdmin</title>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if member_signed_in? %>
    <%= yield %>
<% else %>
    You are not logged in.
<% end %>

</body>
</html>
