
<table summary="Member form fields">
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:semester) %></th>
    <td><%= f.text_field(:semester) %></td>
  </tr>
  <tr>
    <th><%= f.label(:major) %></th>
    <td><%= f.text_field(:major) %></td>
  </tr>
  <tr>
    <th><%= f.label(:committee) %></th>
    <td><%= f.text_field(:committee) %></td>
  </tr>
  <tr>
    <th><%= f.label(:created_at, "Added") %></th>
    <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></td>
  </tr>
</table>