<% @page_title = "Edit Member: #{@member.name}" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="member edit">
  <h2>Update Member</h2>

  <%= form_for(:member, :url => {:action => 'update', :id => @member.id}) do |f| %>
	  
	<table summary="Member form fields">
	  <tr>
	    <th><%= f.label(:name) %></th>
	    <td><%= f.text_field(:name) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:email) %></th>
	    <td><%= f.text_field(:email) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:semester) %></th>
	    <td><%= f.text_field(:semester) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:major) %></th>
	    <td><%= f.text_field(:major) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:committee) %></th>
	    <td><%= f.select(:committee, ['None', 'Yes', 'Care', 'Geneh', 'HR', 'PR', 'FR', 'Academics', 'IT']) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:role) %></th>
	    <td><%= f.select(:role, ['Member', 'President', 'OC VP', 'Projects VP', 'FC VP', 'Head', 'Vice Head']) %></td>
	  </tr>
	</table>
    
    <div class="form-buttons">
      <%= submit_tag("Update Member") %>
    </div>
    
  <% end %>
</div>
