<% @page_title = "Members List" %>

<div>
  <h2>Members</h2>
  
  <%= link_to("Add New Member", {:action => 'new'}) %>

  <div><%= pluralize(@members.size, 'member') %> found</div>
  
  <table summary="Member list">
    <tr>
      <th>Member</th>
      <th>Email</th>
      <th>Semester</th>
      <th>Major</th>
      <th>Committee</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <% @members.each do |member| %>
    <tr>
      <td><%= link_to(member.name, {:action => 'show', :id => member.id}) %></td>
      <td><%= member.email %></td>
      <td><%= member.semester %></td>
      <td><%= member.major %></td>
      <td><%= member.committee %></td>
      <td><%= member.role %></td>
      <td>
        <%= link_to("Edit", {:action => 'edit', :id => member.id}) %>
        <%= link_to("Delete", {:action => 'delete', :id => member.id}) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
