<spreadsheet
  options='{
    "title":    "Members",
    "content":  ["#data1"],
    "tabs":   [
                {"name":"tab1", "content":"#data1"}
              ],
    "filter":   true
  }'
  id=   "spread1"
></spreadsheet>


<table id="data1">
  <thead>
      <tr>
        <th>Member</th>
        <th>Email</th>
        <th>Semester</th>
        <th>Major</th>
        <th>Committee</th>
        <th>Role</th>
      </tr>
  </thead>
  
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= link_to(member.name, {:action => 'show', :id => member.id, :c => 'members'}) %></div>
      </td>
      <td><%= member.email %></td>
      <td><%= member.semester %></td>
      <td><%= member.major %></td>
      <td><% if member.committee != nil %><%= member.committee.name %></p><%end%></td>
      <td><%= member.role %></td>
    </tr>
    <% end %>    
  </tbody>
</table>