<% @page_title = "Create Member" %>

<%= link_to("<< Back to List", {:action => 'index'}) %>

<div>
  <h2>Create Member</h2>

  <%= form_for(:member, :url => {:action => 'create'}) do |f| %>
  
	<table summary="Member form fields">
	  
	  <tr>
	    <th><%= f.label(:name) %></th>
	    <td><%= f.text_field(:name) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:email) %></th>
	    <td><%= f.text_field(:email) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:password) %></th>
	    <td><%= f.text_field(:password) %></td>
	  </tr>
	  <tr>
		<th><%= f.label(:committee_id, "Committee") %></th>
		<td><%= f.select(:committee_id, @committees.collect {|p| [p.name, p.id]}) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:role) %></th>
	    <td><%= f.select(:role, ['Member', 'President', 'OC VP', 'Projects VP', 'FC VP', 'Head', 'Vice Head']) %></td>
	  </tr>
	</table>
    
    <div>
      <%= submit_tag("Create Member") %>
    </div>
    
  <% end %>
</div>
