<% @page_title = "Show Member: #{@member.name}" %>

<%= link_to("<< Back to List", {:controller => @c, :action => 'index'}) %>
<%= link_to("View Tasks", {:controller => 'tasks', :action => 'index', :id => @member.id}) %>

<body>
 <div id="page">
  <div id="pic">
   <img src="/images/user_icon_200.png">
</div>
<div id="info">

 <h1><%= @member.name %></h1>
 <h2></h2>
 <div id="list1">
   <b>Email: </b><%= @member.email %><br><br>
   <b>Major: </b><%= @member.major %><br><br>
   <b>Semester: </b><%= @member.semester %>
</div>
<div id="list2">
  <b>Committee: </b><%= @member.committee.name %><br><br>
   <b>Member since: </b><%= @member.created_at %><br><br>
 </div>
</div>

   <div class="spreadsheet">
      
      <div class="spread-head">
         <!-- spreadsheet title -->
         <h1>Spreadsheet</h1>
         
         <!-- tabs, if needed -->
         <div class="tab" data-id="link3">Performance</div>
         <div class="tab" data-id="link2">Meetings</div>
         <div class="tab active" data-id="link1">Tasks</div>
      </div>
      
      <table class="link-data" id="link1">
         <thead>
             <tr>
               <th>Month</th>
               <th>Savings</th>
              <th>Month</th>
              <th>Savings</th>
             </tr>
         </thead>
         
         <tbody>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <!-- add this if row is editable -->
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
               </td>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>
            </tr>
            <tr>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td>Data</td>
               <td class="edit"><div class="edit"><div class="update-row">✎</div><div class="delete-row">✖</div></div>           
            </tr>
         </tbody>
      </table>
      <table class="link-data" id="link2">
         <thead>
             <tr>
               <th>Title</th>
               <th>Room</th>
               <th>Meeting Date</th>
             </tr>
         </thead>
         
         <tbody>
            <% @member.attending_meeting_ids.each do |meeting| %>
               <% Meeting.find(meeting) != true %>
                  <% @meeting = Meeting.find(meeting) %>
                  <tr>
                     <td><%= link_to @meeting.title, @meeting %></td>
                     <td>
                        <%if @meeting.room == nil || @meeting.room == "" %>
                           <%= "Not Decided" %>
                        <%else%>
                           <%= @meeting.room %>
                        <%end%>
                     </td>
                     <td>@meeting.meeting_time.to_date</td>
                     </td>
                  </tr>
               <%end%>
            <%end%>
         </tbody>
      </table>
      <table class="link-data" id="link3">
         <tbody>
            <tr>
               <td><img src="http://static.bdo.uk.com/assets/images/2011/03/India_Talk_Shop_Graphs.JPG"></td>
            </tr>
         </tbody>
      </table>
      <div class="spread-footer">
         <!-- tab, add this if table is editable -->
         <div class="tab edit-spreadsheet">Edit</div>
         <!-- keep buttons if edit is enabled -->
         <div class="btn green save">Save</div>
         <div class="btn red cancel">Cancel</div>
      </div>
   </div>
 </div>
</body>
</html>
